* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background: #8b78a5
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  padding: 2rem 0 2rem 0;
}

h1, li {
  color: #FAFAFA;
}

button {
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  color: #FAFAFA;
  background-color: #8b78a5;
}

button:hover {
  cursor: pointer;
  border: 1px solid #8b78a5;
  color: #111111;
  background-color: white;
  transition: 0.3s;
}

.nav-container {
  background-color: white;
}

.nav {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.nav li {
  background-color: white;
  color: #494848;
  font-weight: 700;
  padding: 1rem;
}

.nav li:hover {
  color: #8b78a5;
  transition: all 0.3s ease-in-out;
}

.bg-image {
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 15vw;
  background: #FAFAFA;
  box-shadow: 0px 2px 2px 0px #999999;
}

.welcome h1{
  font-size: 3rem;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.welcome h1::after {
  content: '';
  display: block;
  width: 2vw;
  height: .4vh;
  background: #333333;
  margin: 10px auto;
}

.welcome p {
  text-align: center;
  font-weight: 600;
  color: #666666;
  font-style: italic;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem 2rem 1rem;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.items-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0px 4px 4px 0px #333333;
}

.items-image:hover {
  opacity: 0.8;
}

.footer-container {
  height: 35vh;
  background-color: #111111;
}

.footer {
  max-width: 1100px;
  margin: 0 auto;
}

.footer ul > li {
  padding-bottom: 1rem;
}

.bg-white {
  height: 80vh;
  background-color: #FAFAFA;
}

.content-container {
  background-color: #FAFAFA;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: -300px;
  display: flex;
}

.aside {
  padding: 1rem;
}

.aside h1 {
  font-size: 2rem;
  color: #333333;
}

.aside p {
  color: #666666;
  font-weight: 500;
}

.content {
  padding: 1rem;
}

.content h2 {
  padding-top: 1rem;
}
.content p {
  padding-bottom: 0.5rem;
}


@media (max-width:1300px) {
  .welcome {
    height: 20vw;
  }
}

@media (max-width:1100px) {
  .nav-item {
    display: none;
  }

  
}

@media (max-width:900px) {

  .welcome {
    height: 30vw;
  }
  
  .items {
    grid-template-columns: 1fr 1fr;
  }

  .footer  {
    padding: 0rem 2rem;
  }

  .aside {
    display: none;
  }

}

@media (max-width:700px) {

  .items {
    grid-template-columns: 1fr;
  }

  .welcome h1::after,
  .welcome p {
    display: none;
  }

}